language: go
go: 
    - 1.9.2

before_install:
    - sudo pip install --user codecov
    - mkdir -p $GOPATH/bin
    - curl https://glide.sh/get | sh
    - curl -s https://codecov.io/bash > codecov.sh
    - chmod 755 ./codecov.sh

install:
    - glide install --strip-vendor

script:
    - $TRAVIS_BUILD_DIR/test.sh ./codecov.sh

