name: CI

on:
  create:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: Unit Tests
    runs-on: [ ubuntu-latest ]
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Setup Go
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.15.x' # The Go version to download (if necessary) and use.

      # Run build of the application
      - name: Run build
        run: go build ./...

      # Run gofmt on the code
      - name: Run gofmt
        run: gofmt -d

      # Run testing on the code
      - name: Run testing
        run: |
          go test -v -race -coverprofile=coverage.txt ./...
          go test -race -json ./... > report.json
          curl -s https://codecov.io/bash | bash
          echo "codecov done"

  lint:
    strategy:
      matrix:
        go-version: [ 1.15.x ]
        os: [ ubuntu-latest ]
    name: Lint
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.33
          # Optional: working directory, useful for monorepos
          # working-directory: somedir

          # Optional: golangci-lint command line arguments.
          # args: -v

          # Optional: show only new issues if it's a pull request. The default value is `false`.
          only-new-issues: true

  goreportcard:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - name: Go report card
        uses: creekorful/goreportcard-action@v1.0

  sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        with:
          args: >
            -Dproject.settings=./.sonar-project.properties
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
